@import url('bootstrap');
@import url('bootstrap-icons');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Nerko+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
  font-family: "Open Sans";
}

.bg-primary img{
  width: 2.5rem;
  height: 3rem;
}