/* Importazione framework */

@import url('bootstrap');
@import url('bootstrap-icons');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Nerko+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* ======================================================== */
/* ======================================================== */

/* Font pagina */

body{
  font-family: "Open Sans";
}

/* Grandezza immagini */

header img{
  width: 4rem;
  height: 4rem;
}

.bg-primary img{
  width: 2.5rem;
  height: 3rem;
}

/* Sfondo footer */

#main-footer{
  background-image: url('./assets/img/footer-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Manipolazione posizioni assolute e relative per il logo grande */

#big-logo{
  position: absolute;
  left: 50%;
  bottom: -30%;
}

.position-relative img{
  height: 600px;
}

#footer-field{
  position: relative
}

#icons{
  position: relative;
  z-index: 2;
}

#signup-field{
  position: relative;
  z-index: 2;
}

/* Jumbotron*/

#jumbotron{
  height: 300px;
  background-image: url(./assets/img/jumbotron.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Position button */

#currentSeriesField{
  position: relative;
}

#currentSeries{
  display: inline-block;
  position: absolute;
  top: -65px;
}

/* Cards */

.card img{
  height: 250px;
  object-fit: cover;

}